
.vs/OrionEngine/v16/.suo
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/Browse.VC.db-shm
.vs/OrionEngine/v16/Browse.VC.db-wal
.vs/OrionEngine/v16/Browse.VC.opendb
.vs/OrionEngine/v16/ipch/AutoPCH/35d0e0f28ab08470/SHADER.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/3f87a862ca392aa5/MAIN.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/4fe359b36d76c30f/RENDERER.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/9738e9f2c2766f69/SHADER.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/fc213086f4be4eb6/ENGINE.ipch
Debug/Engine.obj
Debug/main.obj
Debug/OrionEngine.exe
Debug/OrionEngine.ilk
Debug/OrionEngine.log
Debug/OrionEngine.pdb
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/link.command.1.tlog
Debug/OrionEngine.tlog/link.read.1.tlog
Debug/OrionEngine.tlog/link.write.1.tlog
Debug/Renderer.obj
Debug/Shader.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/Window.obj
.vs/OrionEngine/v16/.suo
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/ipch/AutoPCH/4fe359b36d76c30f/RENDERER.ipch
Debug/OrionEngine.exe
Debug/OrionEngine.ilk
Debug/OrionEngine.log
Debug/OrionEngine.pdb
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/link.read.1.tlog
Debug/Renderer.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/Window.obj
Debug/vc142.pdb
Debug/vc142.idb
Debug/Renderer.obj
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.pdb
Debug/OrionEngine.log
Debug/OrionEngine.ilk
Debug/OrionEngine.exe
.vs/OrionEngine/v16/ipch/AutoPCH/4fe359b36d76c30f/RENDERER.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/3f87a862ca392aa5/MAIN.ipch
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/.suo
Debug/vc142.pdb
Debug/vc142.idb
Debug/Renderer.obj
Debug/OrionEngine.tlog/link.read.1.tlog
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.pdb
Debug/OrionEngine.log
Debug/OrionEngine.ilk
Debug/OrionEngine.exe
Debug/main.obj
Debug/Engine.obj
.vs/OrionEngine/v16/ipch/AutoPCH/4fe359b36d76c30f/RENDERER.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/3f87a862ca392aa5/MAIN.ipch
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/.suo
.vs/OrionEngine/v16/.suo
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/ipch/AutoPCH/3f87a862ca392aa5/MAIN.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/400c25e30095c9c1/MESH.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/4fe359b36d76c30f/RENDERER.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/6b5bece3191e6638/MESH.ipch
Debug/Engine.obj
Debug/main.obj
Debug/Mesh.obj
Debug/OrionEngine.exe
Debug/OrionEngine.ilk
Debug/OrionEngine.log
Debug/OrionEngine.pdb
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/link.command.1.tlog
Debug/OrionEngine.tlog/link.read.1.tlog
Debug/OrionEngine.tlog/link.write.1.tlog
Debug/Renderer.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/Window.obj
Debug/vc142.pdb
Debug/vc142.idb
Debug/Renderer.obj
Debug/OrionEngine.tlog/link.read.1.tlog
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.pdb
Debug/OrionEngine.log
Debug/OrionEngine.ilk
Debug/OrionEngine.exe
Debug/main.obj
.vs/OrionEngine/v16/ipch/AutoPCH/7681321439d8ac7c/STUB.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/6a0c4c52ecf43378/RIGELMATRIX.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/4fe359b36d76c30f/RENDERER.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/3f87a862ca392aa5/MAIN.ipch
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/.suo
.vs/OrionEngine/v16/.suo
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/ipch/AutoPCH/3f87a862ca392aa5/MAIN.ipch
Debug/Engine.obj
Debug/main.obj
Debug/OrionEngine.exe
Debug/OrionEngine.ilk
Debug/OrionEngine.log
Debug/OrionEngine.pdb
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/Renderer.obj
Debug/Stub.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/Window.obj
.vs/OrionEngine/v16/.suo
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/ipch/AutoPCH/3f87a862ca392aa5/MAIN.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/82cefa10203ecfcc/WINDOW.ipch
Debug/main.obj
Debug/OrionEngine.exe
Debug/OrionEngine.ilk
Debug/OrionEngine.log
Debug/OrionEngine.pdb
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/link.read.1.tlog
Debug/Renderer.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/Window.obj
.vs/OrionEngine/v16/.suo
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/ipch/AutoPCH/3f87a862ca392aa5/MAIN.ipch
Debug/Engine.obj
Debug/main.obj
Debug/OrionEngine.exe
Debug/OrionEngine.ilk
Debug/OrionEngine.log
Debug/OrionEngine.pdb
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/link.read.1.tlog
Debug/Renderer.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/Window.obj
Debug/Window.obj
Debug/vc142.pdb
Debug/vc142.idb
Debug/Renderer.obj
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.pdb
Debug/OrionEngine.log
Debug/OrionEngine.ilk
Debug/OrionEngine.exe
Debug/main.obj
Debug/Engine.obj
.vs/OrionEngine/v16/ipch/AutoPCH/fc213086f4be4eb6/ENGINE.ipch
.vs/OrionEngine/v16/ipch/AutoPCH/82cefa10203ecfcc/WINDOW.ipch
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/.suo
