Debug/*
.vs/*
.vs/OrionEngine/v16/.suo
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/ipch/AutoPCH/aa3264a1cff7f61d/SPRITE.ipch
.vs/OrionEngine/v16/Browse.VC.db
Debug/Window.obj
Debug/vc142.pdb
Debug/vc142.idb
Debug/UnitTest.obj
Debug/Transform.obj
Debug/Sprite.obj
Debug/Renderer.obj
Debug/Physics.obj
Debug/OrionEngine.tlog/CL.write.1.tlog
Debug/OrionEngine.tlog/CL.read.1.tlog
Debug/OrionEngine.tlog/CL.command.1.tlog
Debug/OrionEngine.pdb
Debug/OrionEngine.log
Debug/Example.obj
Debug/Entity.obj
Debug/Engine.obj
Debug/Component.obj
.vs/OrionEngine/v16/ipch/AutoPCH/aa3264a1cff7f61d/SPRITE.ipch
.vs/OrionEngine/v16/Browse.VC.db
.vs/OrionEngine/v16/.suo
